.span3
  nav.well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Friends
      li
        a(href="/person/friends") Main

      li.nav-header Connections
      li
        a#friendsConnections(href="#") Calculate
      li
        a(href="/person/friends/connections") Result

      li.nav-header Connections weighted
      li
        a#friendsConnectionsWeighted(href="#") Calculate
      li
        a(href="/person/friends/connectionsWeighted") Result
