.span3
  nav.well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Friends
      li
        a(href="/person/friends") Main

      li.nav-header Connections
      li
        a(data-operation="friendsConnections") Calculate
      li
        a(href="/person/friends/connections") Result

      li.nav-header Connections weighted
      li
        a(data-operation="friendsConnectionsWeighted") Calculate
      li
        a(href="/person/friends/connectionsWeighted") Result
