extends ../layout

block content
  .span3
    nav.well.sidebar-nav
      ul.nav.nav-list
        li
          a#showLinksHistogram(href="#")
            i.icon-plus
            = 'Histogram'
        li.nav-header Created
  #chart.span5


  script(src='/js/d3.v2.js')
  script(src='/js/build/forceDiagram.js')
