extends ../layout

block content
  .span3
    nav.well.sidebar-nav
      ul.nav.nav-list
        li
          a(href="/person/get")
            i.icon-plus
            = 'Create new'
        li.nav-header Created
  .span5
    button.btn.btn-large#getData
      | Get data
    button.btn.btn-large#countLinks
      | Count links
    button.btn.btn-large#countLikesByName
      | Count likes by name
    button.btn.btn-large#countLikesByCategory
      | Count likes by category
    button.btn.btn-large#logisticRegressionOnLinks
      | Logistic regression on links
    button.btn.btn-large#countLinksHistogram
      | Logistic regression on links
    button.btn.btn-large#findConnections
      | Find connections
    button.btn.btn-large#findLinkFlows
      | Find link flows