extends ../layout

block content
  #chart.span8

  .span8
    table
      each like in likes
        tr
          td= like._id
          td= like.value.count
          td
            each share in like.value.sharedBy
              = share + ', '



