extends ../layout

block content
  .span3
    nav.well.sidebar-nav
      ul.nav.nav-list
        li
          a(href="/person/get")
            i.icon-plus
            = 'Create new'
        li.nav-header Created
  .span5
    table
      each link in links
        tr
          td= link._id
          td= link.value.count
          td
            dl
              each share in link.value.sharedBy
                dd= share.id
                dt= share.date

