extends layout

block content
    .hero-unit
        h1 Welcome
        p This is an application that allows you to do data analysis on your Facebook profile.
        a.btn.btn-primary.btn-large(href='/person/') Log in...
