!!! 5
html(lang="en")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= title

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')

    script(type='text/javascript', src='/js/jquery-1.8.0.js')

  body

    include header

    .container.main
      block content

    include footer

    include modal

    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/js/build/script.js')
    
