!!! 5
html(lang="en")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= title

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    script(src='/js/jquery-1.9.0.js')
  body

    include header

    .container.main
      block content

    include footer

    include modal


    script(src='/js/bootstrap.js')
    script(src="/socket.io/socket.io.js")
    script(src='/js/build/script.js')
    
