#modal.modal.hide.fade
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
    h3 Modal header

  .modal-body
    p One fine body…

  .modal-footer
    a.btn(href="#", data-dismiss="modal") OK
