.span3
  nav.well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Links
      li
        a(href="/person/links") Main

      li.nav-header Flow
      li
        a(data-operation="linksFlow") Calculate
      li
        a(href="/person/links/flow") Result

      li.nav-header Histogram
      li
        a(data-operation="linksHistogram") Calculate
      li
        a(href="/person/links/histogram") Result
      li.nav-header Logistic regression
      li
        a(data-operation="linksLogisticRegression") Calculate
      li
        a(href="/person/links/logisticRegression") Result
