extends ../../layout

block content
  include menu
  .progress.progress-striped.active
    .bar(style="width: 0%;")
  #chart.span8


  script(src='/js/d3.js')
  script(src='/js/d3.layout.cloud.js')
  script(src='/js/build/likesCloud.js')
