.span3
  nav.well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Likes
      li
        a(href="/person/likes") Main
      li.nav-header Likes cloud
      li
        a(href="/person/likes/cloud") Cloud
      li.nav-header Flow
      li
        a(data-operation="likesFlow") Calculate
      li
        a(href="/person/likes/flow") Result
      li.nav-header Histogram
      li
        a(data-operation="likesHistogram") Calculate
      li
        a(href="/person/likes/histogram") Result
      li.nav-header Likes logistic regression
      li
        a(data-operation="likesLogisticRegression") Calculate
      li
        a(href="/person/likes/histogram") Result
